body /*, html*/ {
	margin: 0px;
	padding: 0px;
    background: #fafafa; /* #f5f5f5 */
    font-family: Barlow, 'IBM Plex Sans', sans-serif;    
    font-size: 16px;
    /*height:100%;*/    
}

h1 {
    color: yellowgreen
}

.searchPanel {
	margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;    
    width: 500px;

    /*
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    */
}

.resultSearchPanel {
    padding-top: 40px;
    padding-bottom: 40px;    
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    max-width: 100%;  
}

.searchBoxContainer {
	width: 100%;
	/*
    border-bottom: 0px solid #D9D9D9;
    */
}

#tabsPanelContainer {
    margin-left: auto;
    margin-right: auto;

}

.nav-tabs {
	border: none !important;
}

.nav-tabs.col-blue > li > a::before {
	border-bottom-color: red !important;
}

.tabContainer {
    margin-left: auto;
    margin-right: auto;

}


.tab-content {
/*	background-color: white;*/
}



.gwt-TabPanel {
    margin-left: auto;
    margin-right: auto;

    max-width: 100%;  
    width: 500px;
}

.gwt-TabPanel-Result {
    padding-left: 100px;
    max-width: 100%;  
    width: 100%;
    
}

.gwt-TabBarItem {
	margin-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 20px;
	background-color: none;
	vertical-align: middle;
	/*width: 50px;*/
	
}

.gwt-TabBarItem-selected {
	font-weight: 400;
    height: 19px;/*18px;*/
	/*border-bottom: 2px solid red;*/
	border-bottom: 1px solid black;
    outline: none;
	
}

.gwt-TabBarItem-selected:focus  {
	outline: none !important;;
}

.gwt-TabPanelBottom {
    background-color: wheat;	
}

.gwt-SuggestBox {
    color: black;
    font-family: Barlow, 'IBM Plex Sans', sans-serif; 
    font-size: 16px;
    box-sizing: border-box;
    /*
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    */
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    /*
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    */
    border-radius: 3px;
    /*
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    */
    padding: 7px;
    outline: none;
    height: 40px;
    background-image: url(common-search-lookup-glyph-256.png);  
    background-position: 10px 10px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 40px;  
}

.gwt-SuggestBoxPopup { 
   background-color: white;
   border:  1px solid #C2C2C2 !important; 
   border-bottom-left-radius: 3px;
   border-bottom-right-radius: 3px;
   /* collision with domino ui */
   padding-left: 0px !important; 
   margin-left: 1px !important;
   margin-top: -1px !important;
   
}

.gwt-SuggestBoxPopup table { 
   border:  0px solid red; 
   width: 100%;
}

.gwt-SuggestBoxPopup .item { 
   padding: 2px !important;
   font-size: 16px;   
}

.gwt-SuggestBoxPopup .item-selected { 
   background-color: #efefef !important;
}

.gwt-SuggestBoxPopup .suggestPopupTopLeft { 
    height: 0px !important;
    width: 0px !important;
    background-image: none !important;
    border: none !important; 
}

.gwt-SuggestBoxPopup .suggestPopupTopLeftInner { 
   border: none !important; 
}

.gwt-SuggestBoxPopup .suggestPopupTopCenter { 
   border: none !important; 
}

.gwt-SuggestBoxPopup .suggestPopupTopCenterInner { 
   border: none !important; 
}

.gwt-SuggestBoxPopup .suggestPopupTopRight {
    height: 0px !important;
    width: 0px !important;
    background-image: none !important;
    border: none !important; 
}

.gwt-SuggestBoxPopup .suggestPopupTopRightInner {
   border: none !important; 
}

.gwt-SuggestBoxPopup .suggestPopupMiddleLeft { 
   border: none !important;
}

.gwt-SuggestBoxPopup .suggestPopupMiddleLeftInner { 
   border: none !important;
   border-image-width: 0px !important;
}

.gwt-SuggestBoxPopup .suggestPopupMiddleCenter { 
   border: none !important; 
}

.gwt-SuggestBoxPopup .suggestPopupMiddleCenterInner { 
   border: none !important;
}

/*
.gwt-SuggestBoxPopup .suggestPopupMiddleCenterInner table { 
   border:  3px solid green;
   width: 100%;
}
*/
.gwt-SuggestBoxPopup .suggestPopupMiddleRight { 
   border: none !important;
}

.gwt-SuggestBoxPopup .suggestPopupMiddleRightInner { 
   border: none !important;
}

.gwt-SuggestBoxPopup .suggestPopupBottomLeft {
    height: 0px !important;
    width: 0px !important;
    background-image: none !important;
    border: none !important;
}

.gwt-SuggestBoxPopup .suggestPopupBottomLeftInner { 
   border: none !important;
}

.gwt-SuggestBoxPopup .suggestPopupBottomCenter {
   border: none !important;
 }

.gwt-SuggestBoxPopup .suggestPopupBottomCenterInner { 
   border: none !important;
}

.gwt-SuggestBoxPopup .suggestPopupBottomRight { 
    height: 0px !important;
    width: 0px !important;
    background-image: none !important;
    border: none !important;
}

.gwt-SuggestBoxPopup .suggestPopupBottomRightInner { 
   border: none !important;
}
